<header>
  <nav class="navbar navbar-default fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img class="logo" src="../../../assets/logo.png" alt="Cyber">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <i class="fa fa-bars" style="color:white;"></i>
        </span>
    </button>
  </nav>
</header>
